<form id="fields-for-s3">
	<% @s3_direct_post.fields.map do |name, value| %>
		<input type="hidden" name="<%= name %>" value="<%= value %>" />
	<% end %>
</form> 
<%= form_for [@fileable, @template_file], html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }  do |f|%>

	<%= f.file_field :asset, placeholder: true %>
	<%= f.submit "Guardar" %>

<% end %>
<%= javascript_include_tag "/assets/forms/jquery.upload.widget" %>
<%= javascript_include_tag "/assets/forms/z.jquery.fileupload" %>
<%= javascript_include_tag "/assets/forms/form" %>
