<label><%= t :ophtalmology_template %></label>
<h1><%= @ophtalmology_template.name %></h1>
<label><%= t :email %></label>
<p><%= @ophtalmology_template.email %></p>
<label><%= t :name %></label>
<p><%= @ophtalmology_template.name %></p>
<label><%= t :age %></label>
<p><%= @ophtalmology_template.age %></p>
<label><%= t :birth_date %></label>
<p><%= @ophtalmology_template.birth_date %></p>
<label><%= t :sex %></label>
<p><%= @ophtalmology_template.sex %></p>
<label><%= t :ocupation %></label>
<p><%= @ophtalmology_template.ocupation %></p>
<label><%= t :religion %></label>
<p><%= @ophtalmology_template.religion %></p>
<label><%= t :address %></label>
<p><%= @ophtalmology_template.address %></p>
<label><%= t :telephone %></label>
<p><%= @ophtalmology_template.telephone %></p>
<label><%= t :insurance_company %></label>
<p><%= @ophtalmology_template.insurance_company %></p>
<label><%= t :insurance_policy %></label>
<p><%= @ophtalmology_template.insurance_policy %></p>
<label><%= t :previous_revisions %></label>
<p><%= @ophtalmology_template.previous_revisions %></p>
<label><%= t :ailments %></label>
<p><%= @ophtalmology_template.ailments %></p>
<label><%= t :family_hypertension %></label>
<p><%= @ophtalmology_template.family_hypertension %></p>
<label><%= t :family_cardiopathy %></label>
<p><%= @ophtalmology_template.family_cardiopathy %></p>
<label><%= t :family_thyroid %></label>
<p><%= @ophtalmology_template.family_thyroid %></p>
<label><%= t :family_cancer %></label>
<p><%= @ophtalmology_template.family_cancer %></p>
<label><%= t :family_other %></label>
<p><%= @ophtalmology_template.family_other %></p>
<label><%= t :family_myopia %></label>
<p><%= @ophtalmology_template.family_myopia %></p>
<label><%= t :farsightedness %></label>
<p><%= @ophtalmology_template.farsightedness %></p>
<label><%= t :astigmatism %></label>
<p><%= @ophtalmology_template.astigmatism %></p>
<label><%= t :family_diabetic_retinopathy %></label>
<p><%= @ophtalmology_template.family_diabetic_retinopathy %></p>
<label><%= t :family_eye_surgery %></label>
<p><%= @ophtalmology_template.family_eye_surgery %></p>
<label><%= t :family_cataract %></label>
<p><%= @ophtalmology_template.family_cataract %></p>
<label><%= t :family_retinal_deatachment %></label>
<p><%= @ophtalmology_template.family_retinal_deatachment %></p>
<label><%= t :family_laser_surgery %></label>
<p><%= @ophtalmology_template.family_laser_surgery %></p>
<label><%= t :family_other_ailments_2 %></label>
<p><%= @ophtalmology_template.family_other_ailments_2 %></p>
<label><%= t :patient_diabetes_mellitus %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus %></p>
<label><%= t :patient_diabetes_mellitus_time %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus_time %></p>
<label><%= t :patient_diabetes_mellitus_treatment %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus_treatment %></p>
<label><%= t :patient_arterial_hypertension %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension %></p>
<label><%= t :patient_arterial_hypertension_time %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension_time %></p>
<label><%= t :patient_arterial_hypertension_treatment %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension_treatment %></p>
<label><%= t :patient_nefropathy %></label>
<p><%= @ophtalmology_template.patient_nefropathy %></p>
<label><%= t :patient_nefropathy_description %></label>
<p><%= @ophtalmology_template.patient_nefropathy_description %></p>
<label><%= t :patient_alergies %></label>
<p><%= @ophtalmology_template.patient_alergies %></p>
<label><%= t :patient_alergies_description %></label>
<p><%= @ophtalmology_template.patient_alergies_description %></p>
<label><%= t :patient_cancer %></label>
<p><%= @ophtalmology_template.patient_cancer %></p>
<label><%= t :patient_cancer_description %></label>
<p><%= @ophtalmology_template.patient_cancer_description %></p>
<label><%= t :patient_transfution %></label>
<p><%= @ophtalmology_template.patient_transfution %></p>
<label><%= t :patient_transfution_description %></label>
<p><%= @ophtalmology_template.patient_transfution_description %></p>
<label><%= t :patient_smoking %></label>
<p><%= @ophtalmology_template.patient_smoking %></p>
<label><%= t :patient_ailments_other %></label>
<p><%= @ophtalmology_template.patient_ailments_other %></p>
<label><%= t :patient_myopia %></label>
<p><%= @ophtalmology_template.patient_myopia %></p>
<label><%= t :patient_myopia_description %></label>
<p><%= @ophtalmology_template.patient_myopia_description %></p>
<label><%= t :patient_hyperopia %></label>
<p><%= @ophtalmology_template.patient_hyperopia %></p>
<label><%= t :patient_hyperopia_description %></label>
<p><%= @ophtalmology_template.patient_hyperopia_description %></p>
<label><%= t :patient_astigmatism %></label>
<p><%= @ophtalmology_template.patient_astigmatism %></p>
<label><%= t :patient_astigmatism_description %></label>
<p><%= @ophtalmology_template.patient_astigmatism_description %></p>
<label><%= t :patient_presbyopia %></label>
<p><%= @ophtalmology_template.patient_presbyopia %></p>
<label><%= t :patient_presbyopia_description %></label>
<p><%= @ophtalmology_template.patient_presbyopia_description %></p>
<label><%= t :patient_uses_glasses %></label>
<p><%= @ophtalmology_template.patient_uses_glasses %></p>
<label><%= t :patient_uses_glasses_since %></label>
<p><%= @ophtalmology_template.patient_uses_glasses_since %></p>
<label><%= t :patient_squint %></label>
<p><%= @ophtalmology_template.patient_squint %></p>
<label><%= t :patient_squint_treatment %></label>
<p><%= @ophtalmology_template.patient_squint_treatment %></p>
<label><%= t :patient_glaucoma %></label>
<p><%= @ophtalmology_template.patient_glaucoma %></p>
<label><%= t :patient_glaucoma_since %></label>
<p><%= @ophtalmology_template.patient_glaucoma_since %></p>
<label><%= t :patient_glaucoma_treatment %></label>
<p><%= @ophtalmology_template.patient_glaucoma_treatment %></p>
<label><%= t :lensometer_left_value %></label>
<p><%= @ophtalmology_template.lensometer_left_value %></p>
<label><%= t :lensometer_left_value_2 %></label>
<p><%= @ophtalmology_template.lensometer_left_value_2 %></p>
<label><%= t :lensometer_left_value_3 %></label>
<p><%= @ophtalmology_template.lensometer_left_value_3 %></p>
<label><%= t :lensometer_right_value_1 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_1 %></p>
<label><%= t :lensometer_right_value_2 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_2 %></p>
<label><%= t :lensometer_right_value_3 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_3 %></p>
<label><%= t :add %></label>
<p><%= @ophtalmology_template.add %></p>
<label><%= t :refraction %></label>
<p><%= @ophtalmology_template.refraction %></p>
<label><%= t :subjective_left_value_1 %></label>
<p><%= @ophtalmology_template.subjective_left_value_1 %></p>
<label><%= t :subjective_left_value_2 %></label>
<p><%= @ophtalmology_template.subjective_left_value_2 %></p>
<label><%= t :subjective_left_value_3 %></label>
<p><%= @ophtalmology_template.subjective_left_value_3 %></p>
<label><%= t :subjective_right_value_1 %></label>
<p><%= @ophtalmology_template.subjective_right_value_1 %></p>
<label><%= t :subjective_right_value_2 %></label>
<p><%= @ophtalmology_template.subjective_right_value_2 %></p>
<label><%= t :subjective_right_value_3 %></label>
<p><%= @ophtalmology_template.subjective_right_value_3 %></p>
<label><%= t :autorefraction_left_value_1 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_1 %></p>
<label><%= t :autorefraction_left_value_2 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_2 %></p>
<label><%= t :autorefraction_left_value_3 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_3 %></p>
<label><%= t :autorefraction_right_value_1 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_1 %></p>
<label><%= t :autorefraction_right_value_2 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_2 %></p>
<label><%= t :autorefraction_right_value_3 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_3 %></p>
<label><%= t :cycloplegic_left_value_1 %></label>
<p><%= @ophtalmology_template.cycloplegic_left_value_1 %></p>
<label><%= t :cycloplegic_left_value_2 %></label>
<p><%= @ophtalmology_template.cycloplegic_left_value_2 %></p>
<label><%= t :cycloplegic_left_value_3 %></label>
<p><%= @ophtalmology_template.cycloplegic_left_value_3 %></p>
<label><%= t :cycloplegic_right_value_1 %></label>
<p><%= @ophtalmology_template.cycloplegic_right_value_1 %></p>
<label><%= t :cycloplegic_right_value_2 %></label>
<p><%= @ophtalmology_template.cycloplegic_right_value_2 %></p>
<label><%= t :cycloplegic_right_value_3 %></label>
<p><%= @ophtalmology_template.cycloplegic_right_value_3 %></p>
<label><%= t :keratometry_left %></label>
<p><%= @ophtalmology_template.keratometry_left %></p>
<label><%= t :keratometry_right %></label>
<p><%= @ophtalmology_template.keratometry_right %></p>
<label><%= t :specular_magnification_left %></label>
<p><%= @ophtalmology_template.specular_magnification_left %></p>
<label><%= t :specular_magnification_right %></label>
<p><%= @ophtalmology_template.specular_magnification_right %></p>
<label><%= t :pupillary_reflexes_left %></label>
<p><%= @ophtalmology_template.pupillary_reflexes_left %></p>
<label><%= t :pupilary_reflexes_right %></label>
<p><%= @ophtalmology_template.pupilary_reflexes_right %></p>
<label><%= t :ocular_movements %></label>
<p><%= @ophtalmology_template.ocular_movements %></p>
<label><%= t :ocular_movement_version_left %></label>
<p><%= @ophtalmology_template.ocular_movement_version_left %></p>
<label><%= t :ocular_movement_version_right %></label>
<p><%= @ophtalmology_template.ocular_movement_version_right %></p>
<label><%= t :ppm %></label>
<p><%= @ophtalmology_template.ppm %></p>
<label><%= t :eyelids_left %></label>
<p><%= @ophtalmology_template.eyelids_left %></p>
<label><%= t :eyelids_right %></label>
<p><%= @ophtalmology_template.eyelids_right %></p>
<label><%= t :retinal_deatachment_left %></label>
<p><%= @ophtalmology_template.retinal_deatachment_left %></p>
<label><%= t :retinal_deatachment_right %></label>
<p><%= @ophtalmology_template.retinal_deatachment_right %></p>
<label><%= t :retinal_deatachment_time %></label>
<p><%= @ophtalmology_template.retinal_deatachment_time %></p>
<label><%= t :retinal_deatachment_treatment %></label>
<p><%= @ophtalmology_template.retinal_deatachment_treatment %></p>
<label><%= t :retinal_deatachment_description %></label>
<p><%= @ophtalmology_template.retinal_deatachment_description %></p>
<label><%= t :eye_surgery_left %></label>
<p><%= @ophtalmology_template.eye_surgery_left %></p>
<label><%= t :eye_surgery_right %></label>
<p><%= @ophtalmology_template.eye_surgery_right %></p>
<label><%= t :other_eye_condition %></label>
<p><%= @ophtalmology_template.other_eye_condition %></p>
<label><%= t :pregnancy %></label>
<p><%= @ophtalmology_template.pregnancy %></p>
<label><%= t :pregnancy_description %></label>
<p><%= @ophtalmology_template.pregnancy_description %></p>
<label><%= t :gynobstetric_revision_during_pregnancy %></label>
<p><%= @ophtalmology_template.gynobstetric_revision_during_pregnancy %></p>
<label><%= t :ailments_during_pregnancy %></label>
<p><%= @ophtalmology_template.ailments_during_pregnancy %></p>
<label><%= t :ailments_during_pregnancy_treatment %></label>
<p><%= @ophtalmology_template.ailments_during_pregnancy_treatment %></p>
<label><%= t :weight_at_birth %></label>
<p><%= @ophtalmology_template.weight_at_birth %></p>
<label><%= t :size_at_birth %></label>
<p><%= @ophtalmology_template.size_at_birth %></p>
<label><%= t :born_of_term %></label>
<p><%= @ophtalmology_template.born_of_term %></p>
<label><%= t :born_of_term_description %></label>
<p><%= @ophtalmology_template.born_of_term_description %></p>
<label><%= t :avsc_first_value %></label>
<p><%= @ophtalmology_template.avsc_first_value %></p>
<label><%= t :avsc_second_value %></label>
<p><%= @ophtalmology_template.avsc_second_value %></p>
<label><%= t :avsc_third_value %></label>
<p><%= @ophtalmology_template.avsc_third_value %></p>
<label><%= t :avcc_first_value %></label>
<p><%= @ophtalmology_template.avcc_first_value %></p>
<label><%= t :avcc_second_value %></label>
<p><%= @ophtalmology_template.avcc_second_value %></p>
<label><%= t :avcc_third_value %></label>
<p><%= @ophtalmology_template.avcc_third_value %></p>
<label><%= t :pinhole_first_value %></label>
<p><%= @ophtalmology_template.pinhole_first_value %></p>
<label><%= t :pinhole_second_value %></label>
<p><%= @ophtalmology_template.pinhole_second_value %></p>
<label><%= t :pinhole_third_value %></label>
<p><%= @ophtalmology_template.pinhole_third_value %></p>
<label><%= t :conjunctiva_left %></label>
<p><%= @ophtalmology_template.conjunctiva_left %></p>
<label><%= t :conjunctiva_right %></label>
<p><%= @ophtalmology_template.conjunctiva_right %></p>
<label><%= t :cornea_left %></label>
<p><%= @ophtalmology_template.cornea_left %></p>
<label><%= t :cornea_right %></label>
<p><%= @ophtalmology_template.cornea_right %></p>
<label><%= t :antechamber_left %></label>
<p><%= @ophtalmology_template.antechamber_left %></p>
<label><%= t :antechamber_right %></label>
<p><%= @ophtalmology_template.antechamber_right %></p>
<label><%= t :ac_bottom_left_value_1 %></label>
<p><%= @ophtalmology_template.ac_bottom_left_value_1 %></p>
<label><%= t :ac_bottom_left_value_2 %></label>
<p><%= @ophtalmology_template.ac_bottom_left_value_2 %></p>
<label><%= t :ac_bottom_right_value_1 %></label>
<p><%= @ophtalmology_template.ac_bottom_right_value_1 %></p>
<label><%= t :ac_bottom_right_value_2 %></label>
<p><%= @ophtalmology_template.ac_bottom_right_value_2 %></p>
<label><%= t :intraocular_pressure_left %></label>
<p><%= @ophtalmology_template.intraocular_pressure_left %></p>
<label><%= t :intraocular_pressure_2 %></label>
<p><%= @ophtalmology_template.intraocular_pressure_2 %></p>
<label><%= t :goinoscopy_left %></label>
<p><%= @ophtalmology_template.goinoscopy_left %></p>
<label><%= t :goinoscopy_right %></label>
<p><%= @ophtalmology_template.goinoscopy_right %></p>
<label><%= t :iris_left %></label>
<p><%= @ophtalmology_template.iris_left %></p>
<label><%= t :iris_right %></label>
<p><%= @ophtalmology_template.iris_right %></p>
<label><%= t :pupil_left %></label>
<p><%= @ophtalmology_template.pupil_left %></p>
<label><%= t :pupil_right %></label>
<p><%= @ophtalmology_template.pupil_right %></p>
<label><%= t :crystaline_left %></label>
<p><%= @ophtalmology_template.crystaline_left %></p>
<label><%= t :crystaline_right %></label>
<p><%= @ophtalmology_template.crystaline_right %></p>
<label><%= t :fundus_right %></label>
<p><%= @ophtalmology_template.fundus_right %></p>
<label><%= t :fundus_left %></label>
<p><%= @ophtalmology_template.fundus_left %></p>
<label><%= t :retina_right %></label>
<p><%= @ophtalmology_template.retina_right %></p>
<label><%= t :retina_left %></label>
<p><%= @ophtalmology_template.retina_left %></p>
<label><%= t :vitreous_left %></label>
<p><%= @ophtalmology_template.vitreous_left %></p>
<label><%= t :vitreous_right %></label>
<p><%= @ophtalmology_template.vitreous_right %></p>
<label><%= t :no_left %></label>
<p><%= @ophtalmology_template.no_left %></p>
<label><%= t :no_right %></label>
<p><%= @ophtalmology_template.no_right %></p>
<label><%= t :no_left_description %></label>
<p><%= @ophtalmology_template.no_left_description %></p>
<label><%= t :no_right_description %></label>
<p><%= @ophtalmology_template.no_right_description %></p>
<label><%= t :general_annotations %></label>
<p><%= @ophtalmology_template.general_annotations %></p>
<label><%= t :diagnosis %></label>
<p><%= @ophtalmology_template.diagnosis %></p>
<label><%= t :diagnosis_treatment %></label>
<p><%= @ophtalmology_template.diagnosis_treatment %></p>