<label><%= t :ophtalmology_template %></label>
<% @ophtalmology_template.patients.each do |patient|  %>

	lalalal<h1><%= patient.name %></h1>lol
	<label><%= t :email %></label>
	<p><%= patient.email %></p>
	<label><%= t :name %></label>
	<p><%= patient.name %></p>
	<label><%= t :birth_date %></label>
	<p><%= patient.birth_date %></p>
	<label><%= t :sex %></label>
	<p><%= patient.sex %></p>
	<label><%= t :ocupation %></label>
	<p><%= patient.ocupation %></p>
	<label><%= t :religion %></label>
	<p><%= patient.religion %></p>
	<label><%= t :address %></label>
	<p><%= patient.address %></p>
	<label><%= t :telephone %></label>
	<p><%= patient.telephone %></p>
	<label><%= t :insurance_company %></label>
	<p><%= patient.insurance_company %></p>
	<label><%= t :insurance_policy %></label>
	<p><%= patient.insurance_policy %></p>
<% end %>

<%= link_to "Editar",  edit_ophtalmology_template_path(@ophtalmology_template)%><br/>

<%= link_to "Añadir Receta",  new_ophtalmology_template_prescription_path(@ophtalmology_template)%><br/>

<%= render 'prescriptions/prescriptions', prescriptable: @ophtalmology_template %>

<%= link_to "Añadir Foto",  new_ophtalmology_template_template_photo_path(@ophtalmology_template)%><br/>

<%= render 'template_photos/template_photos', photable: @ophtalmology_template %>

<%= link_to "Añadir Archivo",  new_ophtalmology_template_template_file_path(@ophtalmology_template)%><br/>

<%= render 'template_files/template_files', fileable: @ophtalmology_template %>
<label><%= t :previous_revisions %></label>
<p><%= @ophtalmology_template.previous_revisions %></p>
<label><%= t :ailments %></label>
<p><%= @ophtalmology_template.current_ailments %></p>
<label><%= t :family_hypertension %></label>
<p><%= @ophtalmology_template.family_hypertension %></p>
<label><%= t :family_cardiopathy %></label>
<p><%= @ophtalmology_template.family_cardiopathy %></p>
<label><%= t :family_thyroid %></label>
<p><%= @ophtalmology_template.family_thyroid %></p>
<label><%= t :family_cancer %></label>
<p><%= @ophtalmology_template.family_cancer %></p>
<label><%= t :family_other %></label>
<p><%= @ophtalmology_template.family_other %></p>
<label><%= t :family_myopia %></label>
<p><%= @ophtalmology_template.family_myopia %></p>
<label><%= t :farsightedness %></label>
<p><%= @ophtalmology_template.family_farsightedness %></p>
<label><%= t :astigmatism %></label>
<p><%= @ophtalmology_template.family_astigmatism %></p>
<label><%= t :family_diabetic_retinopathy %></label>
<p><%= @ophtalmology_template.family_diabetic_retinopathy %></p>
<label><%= t :family_eye_surgery %></label>
<p><%= @ophtalmology_template.family_eye_surgery %></p>
<label><%= t :family_cataract %></label>
<p><%= @ophtalmology_template.family_cataract %></p>
<label><%= t :family_retinal_deatachment %></label>
<p><%= @ophtalmology_template.family_retinal_deatachment %></p>
<label><%= t :family_laser_surgery %></label>
<p><%= @ophtalmology_template.family_laser_surgery %></p>
<label><%= t :family_other_ailments_2 %></label>
<p><%= @ophtalmology_template.family_other_ailments_2 %></p>
<label><%= t :patient_diabetes_mellitus %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus %></p>
<label><%= t :patient_diabetes_mellitus_time %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus_since %></p>
<label><%= t :patient_diabetes_mellitus_treatment %></label>
<p><%= @ophtalmology_template.patient_diabetes_mellitus_treatment %></p>
<label><%= t :patient_arterial_hypertension %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension %></p>
<label><%= t :patient_arterial_hypertension_time %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension_since %></p>
<label><%= t :patient_arterial_hypertension_treatment %></label>
<p><%= @ophtalmology_template.patient_arterial_hypertension_treatment %></p>
<label><%= t :patient_nefropathy %></label>
<p><%= @ophtalmology_template.patient_nefropathy %></p>
<label><%= t :patient_nefropathy_description %></label>
<p><%= @ophtalmology_template.patient_nefropathy_description %></p>
<label><%= t :patient_alergies %></label>
<p><%= @ophtalmology_template.patient_alergies %></p>
<label><%= t :patient_alergies_description %></label>
<p><%= @ophtalmology_template.patient_alergies_description %></p>
<label><%= t :patient_cancer %></label>
<p><%= @ophtalmology_template.patient_cancer %></p>
<label><%= t :patient_cancer_description %></label>
<p><%= @ophtalmology_template.patient_cancer_description %></p>
<label><%= t :patient_transfusion %></label>
<p><%= @ophtalmology_template.patient_transfusion %></p>
<label><%= t :patient_transfusion_description %></label>
<p><%= @ophtalmology_template.patient_transfusion_description %></p>
<label><%= t :patient_smoking %></label>
<p><%= @ophtalmology_template.patient_smoking %></p>
<label><%= t :patient_ailments_other %></label>
<p><%= @ophtalmology_template.patient_ailments_other %></p>
<label><%= t :patient_myopia %></label>
<p><%= @ophtalmology_template.patient_myopia %></p>
<label><%= t :patient_myopia_description %></label>
<p><%= @ophtalmology_template.patient_myopia_description %></p>
<label><%= t :patient_hyperopia %></label>
<p><%= @ophtalmology_template.patient_hyperopia %></p>
<label><%= t :patient_hyperopia_description %></label>
<p><%= @ophtalmology_template.patient_hyperopia_description %></p>
<label><%= t :patient_astigmatism %></label>
<p><%= @ophtalmology_template.patient_astigmatism %></p>
<label><%= t :patient_astigmatism_description %></label>
<p><%= @ophtalmology_template.patient_astigmatism_description %></p>
<label><%= t :patient_presbyopia %></label>
<p><%= @ophtalmology_template.patient_presbyopia %></p>
<label><%= t :patient_presbyopia_description %></label>
<p><%= @ophtalmology_template.patient_presbyopia_description %></p>
<label><%= t :patient_uses_glasses %></label>
<p><%= @ophtalmology_template.patient_uses_glasses %></p>
<label><%= t :patient_uses_glasses_since %></label>
<p><%= @ophtalmology_template.patient_uses_glasses_since %></p>
<label><%= t :patient_squint %></label>
<p><%= @ophtalmology_template.patient_strabismus %></p>
<label><%= t :patient_squint_treatment %></label>
<p><%= @ophtalmology_template.patient_strabismus_treatment %></p>
<label><%= t :patient_glaucoma %></label>
<p><%= @ophtalmology_template.patient_glaucoma %></p>
<label><%= t :patient_glaucoma_since %></label>
<p><%= @ophtalmology_template.patient_glaucoma_since %></p>
<label><%= t :patient_glaucoma_treatment %></label>
<p><%= @ophtalmology_template.patient_glaucoma_treatment %></p>
<label><%= t :lensometer_left_value_1 %></label>
<p><%= @ophtalmology_template.lensometer_left_value_1 %></p>
<label><%= t :lensometer_left_value_2 %></label>
<p><%= @ophtalmology_template.lensometer_left_value_2 %></p>
<label><%= t :lensometer_left_value_3 %></label>
<p><%= @ophtalmology_template.lensometer_left_value_3 %></p>
<label><%= t :lensometer_right_value_1 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_1 %></p>
<label><%= t :lensometer_right_value_2 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_2 %></p>
<label><%= t :lensometer_right_value_3 %></label>
<p><%= @ophtalmology_template.lensometer_right_value_3 %></p>
<label><%= t :add_1 %></label>
<p><%= @ophtalmology_template.add_1 %></p>
<label><%= t :refraction %></label>
<p><%= @ophtalmology_template.refraction %></p>
<label><%= t :subjective_refraction_left_value_1 %></label>
<p><%= @ophtalmology_template.subjective_refraction_left_value_1 %></p>
<label><%= t :subjective_refraction_left_value_2 %></label>
<p><%= @ophtalmology_template.subjective_refraction_left_value_2 %></p>
<label><%= t :subjective_refraction_left_value_3 %></label>
<p><%= @ophtalmology_template.subjective_refraction_left_value_3 %></p>
<label><%= t :subjective_refraction_right_value_1 %></label>
<p><%= @ophtalmology_template.subjective_refraction_right_value_1 %></p>
<label><%= t :subjective_right_value_2 %></label>
<p><%= @ophtalmology_template.subjective_refraction_right_value_2 %></p>
<label><%= t :subjective_right_value_3 %></label>
<p><%= @ophtalmology_template.subjective_refraction_right_value_3 %></p>
<label><%= t :autorefraction_left_value_1 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_1 %></p>
<label><%= t :autorefraction_left_value_2 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_2 %></p>
<label><%= t :autorefraction_left_value_3 %></label>
<p><%= @ophtalmology_template.autorefraction_left_value_3 %></p>
<label><%= t :autorefraction_right_value_1 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_1 %></p>
<label><%= t :autorefraction_right_value_2 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_2 %></p>
<label><%= t :autorefraction_right_value_3 %></label>
<p><%= @ophtalmology_template.autorefraction_right_value_3 %></p>
<label><%= t :cycloplegic_left_value_1 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_left_value_1 %></p>
<label><%= t :cycloplegic_left_value_2 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_left_value_2 %></p>
<label><%= t :cycloplegic_left_value_3 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_left_value_3 %></p>
<label><%= t :cycloplegic_right_value_1 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_right_value_1 %></p>
<label><%= t :cycloplegic_right_value_2 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_right_value_2 %></p>
<label><%= t :cycloplegic_right_value_3 %></label>
<p><%= @ophtalmology_template.cicloplegic_refraction_right_value_3 %></p>
<label><%= t :keratometry_left %></label>
<p><%= @ophtalmology_template.keratometry_left %></p>
<label><%= t :keratometry_right %></label>
<p><%= @ophtalmology_template.keratometry_right %></p>
<label><%= t :specular_biomicroscopy_left %></label>
<p><%= @ophtalmology_template.specular_biomicroscopy_left %></p>
<label><%= t :specular_biomicroscopy_right %></label>
<p><%= @ophtalmology_template.specular_biomicroscopy_right %></p>
<label><%= t :pupillary_reflexes_left %></label>
<p><%= @ophtalmology_template.pupillary_reflexes_left %></p>
<label><%= t :pupilary_reflexes_right %></label>
<p><%= @ophtalmology_template.pupillary_reflexes_right %></p>
<label><%= t :ocular_movements %></label>
<p><%= @ophtalmology_template.ocular_movements %></p>
<label><%= t :ocular_movement_version_left %></label>
<p><%= @ophtalmology_template.versions_left %></p>
<label><%= t :ocular_movement_version_right %></label>
<p><%= @ophtalmology_template.versions_right %></p>
<label><%= t :ppm %></label>
<p><%= @ophtalmology_template.primary_position_of_gaze_left%></p>
<label><%= t :eyelids_left %></label>
<p><%= @ophtalmology_template.eyelids_left %></p>
<label><%= t :eyelids_right %></label>
<p><%= @ophtalmology_template.eyelids_right %></p>
<label><%= t :retinal_deatachment_left %></label>

