<p><%= @doctor.name %></p>
<%= link_to "EDITAR", edit_doctor_path(@doctor) %><br>
<p><%= @doctor.email %></p>
<p><%= @doctor.country %></p>
<p><%= @doctor.state %></p>
<p><%= @doctor.city %></p>
<p><%= @doctor.phone %></p>
<p><%= @doctor.facebook %></p>
<p><%= @doctor.website %></p>
<p><%= @doctor.profession %></p>
<p><%= @doctor.speciality %></p>

<h3>  Planes Activos </h3>

<% @doctor.plans.each do |plan| %>
	<% plan.plan_elements.each do |element| %>
		<%= link_to element.element.name, plan %>
	<% end %>
<% end %>

<h3>Acciones</h3>

<%= link_to "Ver Historial de Planes de Expediente", template_plan_history_path(@doctor) %><br/>
 

<h6>Datos de Facturación</h6>

<% @doctor.invoices.each do |invoice| %>
	<% if invoice.favorite? %>
		<%= invoice.rfc %><br/>
		<%= invoice.name %><br/>
		<%= invoice.address1 %><br/>
		<%= invoice.num_ext %><br/>
		<%= invoice.num_int %><br/>
		<%= invoice.address2 %><br/>
		<%= invoice.city %><br/>
		<%= invoice.state %><br/>
		<%= invoice.country %><br/>
	<% end %>
<% end %>