<label><%= t :patient %></label>
<p><%= link_to @gynecology_template.patient.name, @gynecology_template %></p>

<%= link_to "Editar", edit_gynecology_template_pregnancy_evolution_path(@gynecology_template, @pregnancy) %><br/>
<%= link_to "Eliminar", [@gynecology_template, @pregnancy], method: :delete, data: {confirm: "¿Esta seguro? Esta acción no se puede deshacer" }	%><br/>

<label><%= t :day %></label>
<p><%= @pregnancy.day %></p>
<label><%= t :created_at %></label>
<p><%= @pregnancy.created_at %></p>
<label><%= t :weeks_with_amenorrhea %></label>
<p><%= @pregnancy.weeks_with_amenorrhea %></p>
<label><%= t :blood_pressure %></label>
<p><%= @pregnancy.blood_pressure %></p>
<label><%= t :edema %></label>
<p><%= @pregnancy.edema %></p>
<label><%= t :uterus_bottom %></label>
<p><%= @pregnancy.uterus_bottom %></p>
<label><%= t :fetal_heartbeat %></label>
<p><%= @pregnancy.fetal_heartbeat %></p>
<label><%= t :presentation %></label>
<p><%= @pregnancy.presentation %></p>
<label><%= t :pain %></label>
<p><%= @pregnancy.pain %></p>
<label><%= t :genital_bleeding %></label>
<p><%= @pregnancy.genital_bleeding %></p>
<label><%= t :headache %></label>
<p><%= @pregnancy.headache %></p>
<label><%= t :visual_hearing %></label>
<p><%= @pregnancy.visual_hearing %></p>
<label><%= t :vomit %></label>
<p><%= @pregnancy.vomit %></p>
<label><%= t :urinales %></label>
<p><%= @pregnancy.urinales %></p>
<label><%= t :intestinal %></label>
<p><%= @pregnancy.intestinal %></p>
<label><%= t :hb_htc %></label>
<p><%= @pregnancy.hb_htc %></p>
<label><%= t :glycemia %></label>
<p><%= @pregnancy.glycemia %></p>
<label><%= t :albuminuria %></label>
<p><%= @pregnancy.albuminuria %></p>
<label><%= t :genital_exp %></label>
<p><%= @pregnancy.genital_exp %></p>
<label><%= t :treatment %></label>
<p><%= @pregnancy.treatment %></p>
