<%= form_for(@gynecology_template) do |f| %>
<% if @gynecology_template.errors.any? %>
<div class="flexie row l-12 major-between minor-center" id="error_explanation">
<label><%= pluralize(@gynecology_template.errors.count, "error") %></label>
<ul>
<% @gynecology_template.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<% if @gynecology_template.new_record? %>
<%= f.fields_for :patients do |patient| %>
<h4><%= t :family_background %></h4>
<div id="patient-data">
      <div class="double-field">
            <div>
                  <label><%= t :name %></label>
                  <%= patient.text_field :name, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <label><%= t :birth_date %></label>
                  <%= patient.text_field :birth_date, placeholder: true %>
            </div>
            <div>
                  <label><%= t :sex %></label>
                  <span>
                        <label><%= t :male %></label>
                        <%= patient.radio_button :sex, :male %>
                  </span>
                  <span>
                        <label><%= t :female %></label>
                        <%= patient.radio_button :sex, :female %>
                  </span>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :originary_from %></label>
                  <%= patient.text_field :originary_from, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :ocupation %></label>
                  <%= patient.text_field :ocupation, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :religion %></label>
                  <%= patient.text_field :religion, placeholder: true %>
            </div>
            <div>
                  <label><%= t :address %></label>
                  <%= patient.text_field :address, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :telephone %></label>
                  <%= patient.text_field :telephone, placeholder: true %>
            </div>
            <div>
                  <label><%= t :email %></label>
                  <%= patient.text_field :email, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :insurance_company %></label>
                  <%= patient.text_field :insurance_company, placeholder: true %>
            </div>
            <div>
                  <label><%= t :insurance_policy %></label>
                  <%= patient.text_field :insurance_policy, placeholder: true %>
            </div>
      </div>
<!-- PATIENT DATA END -->
</div>
<% end %>
<% else %>
<%= f.fields_for :patients do |patient| %>
<div id="patient-data">
      <div class="double-field">
            <div>
                  <label><%= t :name %></label>
                  <%= patient.text_field :name, placeholder: true, value: @patient.name  %>
            </div>

      </div>
      <div class="double-field">
            <div> 
                  <label><%= t :birth_date %></label>
                  <%= patient.text_field :birth_date, placeholder: true, value: @patient.birth_date %>
            </div>
            <div>
                  <label><%= t :sex %></label>
                  <% if @patient.sex == "male" %>
                        <span>
                              <label><%= t :male %></label>
                              <%= patient.radio_button :sex, :male, checked: true %>
                        </span>
                        <span>
                              <label><%= t :female %></label>
                              <%= patient.radio_button :sex, :female %>
                        </span>
                  <% else %>
                        <span>
                              <label><%= t :male %></label>
                              <%= patient.radio_button :sex, :male %>
                        </span>
                        <span>
                              <label><%= t :female %></label>
                              <%= patient.radio_button :sex, :female, checked: true %>
                        </span>
                  <% end %>
            </div>
      </div>

      <div class="double-field">
            <div>
                  <label><%= t :originary_from %></label>
                  <%= patient.text_field :originary_from, placeholder: true, value: @patient.originary_from %>
            </div>
            <div>
                  <label><%= t :ocupation %></label>
                  <%= patient.text_field :ocupation, placeholder: true, value: @patient.ocupation %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :religion %></label>
                  <%= patient.text_field :religion, placeholder: true, value: @patient.religion %>
            </div>
            <div>
                  <label><%= t :address %></label>
                  <%= patient.text_field :address, placeholder: true, value: @patient.address %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :telephone %></label>
                  <%= patient.text_field :telephone, placeholder: true, value: @patient.telephone %>
            </div>
            <div>
                  <label><%= t :email %></label>
                  <%= patient.text_field :email, placeholder: true, value: @patient.email %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <label><%= t :insurance_company %></label>
                  <%= patient.text_field :insurance_company, placeholder: true, value: @patient.insurance_company%>
            </div>
            <div>
                  <label><%= t :insurance_policy %></label>
                  <%= patient.text_field :insurance_policy, placeholder: true, value: @patient.insurance_policy%>
            </div>
      </div>
<% end %>
</div>
<% end %>
<div id="husband-data">
      <div class="double-field">
            <div> 
                  <%= f.label :marital_status %>
                  <%= f.select :marital_status, ['Casada', 'Soltera', 'Viuda', 'Divorcidad'], {:prompt => 'Seleccione Uno'} %>
            </div>
            <div>
                  <%= f.label :husband_name %>
                  <%= f.text_field :husband_name, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <%= f.label :husband_age %>
                  <%= f.text_field :husband_age, placeholder: true %>
            </div>
            <div>
                  <%= f.label :husband_ocupation %>
                  <%= f.text_field :husband_ocupation, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <%= f.label :reason %>
                  <%= f.text_field :reason, placeholder: :reason %>
            </div>
      </div>
</div>
<h4><%= t :family_background %></h4>
<div id="family-background">
      <div class="double-field">
            <div>
                  <%= f.label :mother_background %>
                  <%= f.text_field :mother_background, placeholder: true %>
            </div>
            <div>
                  <%= f.label :father_background %>
                  <%= f.text_field :father_background, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <%= f.label :grandparents_background %>
                  <%= f.text_field :grandparents_background, placeholder: true %>
            </div>
            <div>
                  <%= f.label :siblings_background %>
                  <%= f.text_field :siblings_background, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <%= f.label :parents_siblings_background %>
                  <%= f.text_field :parents_siblings_background, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :children_background %>
                  <%= f.text_field :children_background, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :husband_background %>
                  <%= f.text_field :husband_background, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :personal_background %>
                  <%= f.text_field :personal_background, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :diet %>
                  <%= f.text_field :diet, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :smoking %>
                  <%= f.text_field :smoking, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>      
                  <%= f.label :alergies %>
                  <%= f.text_field :alergies, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :drugs %>
                  <%= f.text_field :drugs, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :alcoholism %>
                  <%= f.text_field :alcoholism, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :inmunizations %>
                  <%= f.text_field :inmunizations, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :traumatics %>
                  <%= f.text_field :traumatics, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :surgicals %>
                  <%= f.text_field :surgicals, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :transfusions %>
                  <%= f.text_field :transfusions, placeholder: true %>
            </div>
      </div>
</div>
<h4><%= t :gynecological_background %></h4>
<div id="gynecological-background">
      <div class="double-field">
            <div>
                  <%= f.label :menarche %>
                  <%= f.text_field :menarche, placeholder: true %>
            </div>
            <div>
                  <%= f.label :rhythm %>
                  <%= f.text_field :rhythm, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :dysmenorrhea %>
                  <%= f.check_box :dysmenorrhea%> 
            </div>
            <div> 
                  <%= f.label :circumcised_partner %>
                  <%= f.check_box :circumcised_partner%>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :ivsa %>
                  <%= f.text_field :ivsa, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :number_of_sexual_partners %>
                  <%= f.text_field :number_of_sexual_partners, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :pms %>
                  <%= f.check_box :pms  %>
            </div>
            <div> 
                  <%= f.label :pms_duration %>
                  <%= f.text_field :pms_duration, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :gestate %>
                  <%= f.text_field :gestate, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :gestate_for %>
                  <%= f.text_field :gestate_for, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :c_section %>
                  <%= f.text_field :c_section, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :abortions %>
                  <%= f.text_field :abortions, placeholder: true %>
            </div>
      </div>
      <div class="double-field">      
            <div> 
                  <%= f.label :ee %>
                  <%= f.text_field :ee, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :fum %>
                  <span class="date-select">
                        <%= f.date_select :fum, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :fup %>
                  <span class="date-select">
                        <%= f.date_select :fup, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
            <div> 
                  <%= f.label :fua %>
                  <span class="date-select">
                        <%= f.date_select :fua, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :fuc %>
                  <span class="date-select">
                        <%= f.date_select :fuc, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
            <div> 
                  <%= f.label :fpp %>
                  <span class="date-select">
                        <%= f.date_select :fpp, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
      </div>
      <div class="double-field">
            <div> 
                  <%= f.label :doc %>
                  <span class="date-select">
                        <%= f.date_select :doc, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
            <div> 
                  <%= f.label :previous_preganancy_complications %>
                  <%= f.text_field :previous_preganancy_complications, placeholder: true %>
            </div>
      </div>
      <div class="double-field">
            <div>
                  <%= f.label :colposcopy %>
                  <%= f.text_field :colposcopy, placeholder: true %>
            </div>
      </div>
</div>
<h4><%= t :contraceptives %></h4>
<div id="contraceptives">
      <%= f.fields_for :contraceptives do |builder| %>
            <div class="double-field">
                  <div> 
                        <%= builder.label :name %>
                        <%= builder.text_field :name, placeholder: true %> 
                  </div>
                  <div> 
                        <%= builder.label :time %>
                        <%= builder.text_field :time, placeholder: true %>
                  </div>
            </div>
            <div class="double-field">
                  <div> 
                        <%= builder.label :tolerance %>
                        <%= builder.text_field :tolerance, placeholder: true %>
                  </div>
                  <div> 
                        <%= builder.hidden_field :_destroy %>
                        <%= link_to_remove_fields "Eliminar", f %>
                  </div>
            </div>
      <% end %>
      <%= link_to_add_fields "Añadir Anticonceptivo", f, :contraceptives, "css-class add-form", "Añadir Anticonceptivo" %>
</div>

<h4></h4>
<%= f.fields_for :pregnancies do |builder| %>
<div id="pregnancies">
      <div class="double-field">       
            <div>       
                  <%= builder.label :pregnancy_number %>
                  <%= builder.text_field :pregnancy_number, placeholder: true %> 
            </div>
            <div> 
                  <%= builder.label :pregnancy_date %>
                  <span class="date-select">
                        <%= builder.date_select :pregnancy_date, start_year: Date.today.year - 90, end_year: Date.today.year, discard_day: true %>
                  </span>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= builder.label :abortion %>
                  <%= builder.select :abortion, ['Esporádico', 'Provocado'] %>
            </div>
            <div> 
                  <%= builder.label :delivery %>
                  <%= builder.select :delivery, ['Pretérmino', 'Término', 'PostTérmino'] %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= builder.label :induction %>
                  <%= builder.select :induction, ['Sí', 'No'] %>
            </div>
            <div> 
                  <%= builder.label :ending %>
                  <%= builder.select :ending, ['Esporádico', 'Fórceps', 'Césarea'] %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= builder.label :newborn %>
                  <%= builder.select :newborn, ['Sí', 'No'] %>
            </div>
            <div> 
                  <%= builder.label :rn %>
                  <%= builder.select :rn, ['Neonáto', 'Post-Neo'] %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= builder.label :baby_weight %>
                  <%= builder.text_field :baby_weight, placeholder: true %>
            </div>
            <div> 
                  <%= builder.label :baby_sex %>
                  <%= builder.select :baby_sex, ['Femenino', 'Masculino'] %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= builder.label :puerperium %>
                  <%= builder.select :puerperium, ['Fís', 'Pat']%>
            </div>
            <div> 
                  <%= builder.hidden_field :_destroy %>
                  <%= link_to_remove_fields "Eliminar", f %>
            </div>
      </div>
      <%= link_to_add_fields "Añadir Embarazo", f, :pregnancies, "css-class add-form", "Añadir Embarazo" %>
</div>
<% end %>
<div id="sexual-habits">
      <div class="double-field">       
            <div>
                  <%= f.label :sexual_habits %>
                  <%= f.text_field :sexual_habits, placeholder: true %>
            </div>
            <div>
                  <%= f.label :fridigity %>
                  <%= f.check_box :fridigity, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :dyspareunia %>
                  <%= f.check_box :dyspareunia %>
            </div>
            <div>
                  <%= f.label :menopause %>
                  <%= f.check_box :menopause %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :menopause_symptomatology %>
                  <%= f.text_field :menopause_symptomatology, placeholder: true %>
            </div>
            <div>
                  <%= f.label :leucorrea %>
                  <%= f.check_box :leucorrea %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= f.label :leucorrea_treatment %>
                  <%= f.text_field :leucorrea_treatment, placeholder: true %>
            </div>
            <div>
                  <%= f.label :pregnancy_medication %>
                  <%= f.text_field :pregnancy_medication, placeholder: true %>
            </div>
      </div>
</div>
<h4><%= t :physical_exploration %></h4>
<div id="physical-exploration">
      <div class="double-field">       
            <div>
                  
                  <%= f.label :ta %>
                  <%= f.text_field :ta, placeholder: true %>
            </div>
            <div>
                  
                  <%= f.label :weight %>
                  <%= f.text_field :weight, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= f.label :size %>
                  <%= f.text_field :size, placeholder: true %>
            </div>
            <div>
                  <%= f.label :habitus %>
                  <%= f.text_field :habitus, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :head %>
                  <%= f.text_field :head, placeholder: true %>
            </div>
            <div>
                  <%= f.label :neck %>
                  <%= f.text_field :neck, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :torax %>
                  <%= f.text_field :torax, placeholder: true %>
            </div>
            <div>
                  <%= f.label :abdomen %>
                  <%= f.text_field :abdomen, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :limbs %>
                  <%= f.text_field :limbs, placeholder: true %>
            </div>
      </div>
</div>


<h4><%= t :breast_exploration%></h4>
<div id="breast-exploration">
      <div class="double-field">       
            <div> 
                  <%= f.label :breasts_appearance %>
                  <%= f.text_field :breasts_appearance, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :symetry %>
                  <%= f.check_box :symetry  %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= f.label :skin_abnormalities %>
                  <%= f.text_field :skin_abnormalities, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :nipple %>
                  <%= f.text_field :nipple, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div> 
                  <%= f.label :abnormal_mass %>
                  <%= f.text_field :abnormal_mass, placeholder: true %>
            </div>
            <div> 
                  <%= f.label :axillary_region %>
                  <%= f.text_field :axillary_region, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :ganglion_growth %>
                  <%= f.text_field :ganglion_growth, placeholder: true %>
            </div>
            <div>
                  <%= f.label :abnormal_secretion %>
                  <%= f.text_field :abnormal_secretion, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :mastalgia %>
                  <%= f.text_field :mastalgia, placeholder: true %>
            </div>
      </div>
</div>

<h4><%= t :gynecological_exploration %></h4>
<div id="gynecological-exploration">
      <div class="double-field">       
            <div>
                  <%= f.label :external_aspect %>
                  <%= f.text_field :external_aspect, placeholder: true %>
            </div>
            <div>
                  <%= f.label :clitoris %>
                  <%= f.text_field :clitoris, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :vulva %>
                  <%= f.text_field :vulva, placeholder: true %>
            </div>
            <div>
                  <%= f.label :pubic_hair %>
                  <%= f.text_field :pubic_hair, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :himen %>
                  <%= f.text_field :himen, placeholder: true %>
            </div>
            <div>
                  <%= f.label :introito %>
                  <%= f.text_field :introito, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :perine %>
                  <%= f.text_field :perine, placeholder: true %>
            </div>
            <div>
                  <%= f.label :vaginal_walls %>
                  <%= f.text_field :vaginal_walls, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :secreation_and_discharge %>
                  <%= f.text_field :secreation_and_discharge, placeholder: true %>
            </div>
            <div>
                  <%= f.label :cervix %>
                  <%= f.text_field :cervix, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :uterus_position %>
                  <%= f.text_field :uterus_position, placeholder: true %>
            </div>
            <div>
                  <%= f.label :uterus_consistency %>
                  <%= f.text_field :uterus_consistency, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :uterus_size %>
                  <%= f.text_field :uterus_size, placeholder: true %>
            </div>
            <div>
                  <%= f.label :uterus_form %>
                  <%= f.text_field :uterus_form, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :annexes %>
                  <%= f.text_field :annexes, placeholder: true %>
            </div>
            <div>
                  <%= f.label :speculoscopy %>
                  <%= f.text_field :speculoscopy, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :internal_and_external_genitalia %>
                  <%= f.text_field :internal_and_external_genitalia, placeholder: true %>
            </div>
            <div>
                  <%= f.label :clinic_pelvimetry %>
                  <%= f.text_field :clinic_pelvimetry, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :impression_diagnosis %>
                  <%= f.text_field :impression_diagnosis, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :other_1 %>
                  <%= f.text_field :other_1, placeholder: true %>
            </div>
            <div>
                  <%= f.label :other_2 %>
                  <%= f.text_field :other_2, placeholder: true %>
            </div>      
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :other_3 %>
                  <%= f.text_field :other_3, placeholder: true %>
            </div>
            <div>
                  <%= f.label :other_4 %>
                  <%= f.text_field :other_4, placeholder: true %>
            </div>
      </div>
      <div class="double-field">       
            <div>
                  <%= f.label :other_5 %>
                  <%= f.text_field :other_5, placeholder: true %>
            </div>
      </div>
</div>


<%= f.submit "Guardar" %>
<% end %>
<%= javascript_include_tag "expedient_form" %>
