<div class="fields">
	<%= f.label :pregnancy_number %><%= f.text_field :pregnancy_number, placeholder: true %> 
	<%= f.label :pregnancy_date %><%= f.date_field :pregnancy_date, { :discard_day => true} %>
	<%= f.label :abortion %><%= f.select :abortion, ['Esporádico', 'Provocado'] %>
	<%= f.label :delivery %><%= f.select :delivery, ['Pretérmino', 'Término', 'PostTérmino'] %>
	<%= f.label :induction %><%= f.select :induction, ['Sí', 'No'] %>
	<%= f.label :ending %><%= f.select :ending, ['Esporádico', 'Fórceps', 'Césarea'] %>
	<%= f.label :newborn %><%= f.select :newborn, ['Sí', 'No'] %>
	<%= f.label :rn %><%= f.select :rn, ['Neonáto', 'Post-Neo'] %>
	<%= f.label :baby_weight %><%= f.text_field :baby_weight, placeholder: true %>
	<%= f.label :baby_sex %><%= f.select :baby_sex, ['Femenino', 'Masculino'] %>
	<%= f.label :puerperium %><%= f.select :puerperium, ['Fís', 'Pat']%>

	<%= f.hidden_field :_destroy %>
	 <%= link_to_remove_fields "Eliminar", f %>
</div>