<label><%= t :patient %></label>
<h1><%= @patient.name %></h1>



<label><%= t :email %></label>
<p><%= @patient.email %></p>
<label><%= t :name %></label>
<p><%= @patient.name %></p>

<label><%= t :birth_date %></label>
<p><%= @patient.birth_date %></p>
<label><%= t :sex %></label>
<p><%= @patient.sex %></p>
<label><%= t :ocupation %></label>
<p><%= @patient.ocupation %></p>
<label><%= t :religion %></label>
<p><%= @patient.religion %></p>
<label><%= t :address %></label>
<p><%= @patient.address %></p>
<label><%= t :telephone %></label>
<p><%= @patient.telephone %></p>
<label><%= t :insurance_company %></label>
<p><%= @patient.insurance_company %></p>
<label><%= t :insurance_policy %></label>
<p><%= @patient.insurance_policy %></p>