<p><%= @doctor.name %></p>
<p><%= @doctor.country %></p>
<p><%= @doctor.state %></p>
<p><%= @doctor.city %></p>
<p><%= @doctor.phone %></p>
<p><%= @doctor.facebook %></p>
<p><%= @doctor.website %></p>
<p><%= @doctor.profession %></p>
<p><%= @doctor.speciality %></p>
 
<% if doctor_signed_in? and @doctor == current_doctor %>
	<%= link_to "EDITAR", edit_doctor_registration_path %>
<% end %>


<% case @doctor.speciality %>
	<% when "Ginecología" %>
		<%= link_to "Crear Nuevo Expediente", new_gynecology_template_path %><br/>
		<%= link_to "Ver todos", gynecology_templates_path %><br/>
	<% when "Oftalmología" %>
		<%= link_to "Crear Nuevo Expediente", new_ophtalmology_template_path %>
		<%= link_to "Ver todos", ophtalmology_templates_path %><br/>
<% end %>
