<%= form_tag(:action => 'save_template_plan') do %>
	
	<% if admin_signed_in? %>
		Doctor: <%= select_tag "doctor_id", options_for_select(Doctor.all.collect{ |u| [u.name, u.id]} ) %><br/>
		¿Activar Plan? <%= check_box_tag "active" %>
	<% end %>
	Plan: <%= select_tag "template_id", options_for_select(TemplatePlan.all.collect{ |u| [u.name, u.id]} ) %><br/>

	<div>Al escoger el pago semestral o anual se aplica un descuento del 30% </div>
	Frecuencia de Pago: <%= select_tag "billing_frequency", options_for_select([ "Mensual", "Semestral", "Anual" ], "Mensual") %><br/>
	Preferencia: <%= select_tag "billing_preference", options_for_select([ "Paypal", "Recoger en Consultorio", "Déposito Bancario", "Transferencia Electrónica", "Déposito en OXXO" ], "Paypal") %><br/>
	<%= submit_tag "Guardar" %>
<% end %>