<h1>Plan de <%= @plan.doctor.name %></h1>

<% case @plan.active %>
	<% when 1 %>
		<p>Status: Activo</p>
	<% when 0 %>
		<p>Status: Verificando Pago</p>
	<% when -1 %>
		<p>Status: Inactivo por falta de pago</p>
	<% when -3 %>
		<p>Status: Inactivo/Plan anterior</p>

<% end %>
<% @plan.plan_elements.each do |element| %>
		<%= element.element.name %><br/>
<% end %>
Vence el: <%= @plan.valid_til %><br/>
Frecuencia de pago: <%= @plan.billing_frequency %><br/>
Preferencia de pago: <%= @plan.billing_preference %><br/>