<!DOCTYPE html>
<html>
<head>
  <title>Medfiles</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "autocomplete-rails.js" %>

	<%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
	<% if flash or alert %>
		<div class="notices">
			<% if notice %>
				<div class="notice">
					<div class="close-button">
						<div></div>
						<div></div>
					</div>	
					<p><%= notice %></p>
				</div>
			<% end %>
			<% if alert %> 
				<div class="alert">
					<div class="close-button">
						<div></div>
						<div></div>
					</div>
					<p><%= alert %></p>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<div id="navbar">
		<%= form_tag(action: "search_patient", controller: "application") do %>
			<%= autocomplete_field_tag(:patient, params[:patient], autocomplete_patient_name_path, :id_element => '#patient_id', class: "search-query", placeholder: "Busca por nombre del paciente.", type: "search" ) %>
			<%= hidden_field_tag :patient_id, :id => "patient_id" %>
			<%= submit_tag "Buscar", class: "ui-autocomplete-submit" %>
		<% end %>
	<% if doctor_signed_in? %>
		<%= link_to("PANEL", doctor_panel_path) %>
		<%= link_to("LOG OUT", destroy_doctor_session_path) %>
	<% else %>
		<%= link_to("SIGN IN", new_doctor_session_path) %>
		<%= link_to("SIGN UP", new_doctor_registration_path) %>
	<% end %>
	<% if admin_signed_in? %>
		<%= link_to("ADMIN PANEL", admin_panel_path) %>
		<%= link_to("LOG_OUT", destroy_admin_session_path) %>
	<% end %>

</div>
<div data-function="body">
	<div id="sidebar-container">
		<% if doctor_signed_in? %>
			<%= render "layouts/sidebar" %>
		<% end %>
	</div>
	<div id="body-container">
		<div class="center-content">
			<%= yield %>
		</div>
	</div>
</div>
<%= javascript_include_tag "autocomplete-rails.js" %>
</body>
</html>
<%= javascript_include_tag "/assets/notices.js" %>